In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw02.ipynb")

<a id='verytop'></a>

# Homework 2: Prerequisite Review Part 2 & Exploratory Data Analysis

## Due Date: Friday June 6th, 11:59 PM on Gradescope


### Detailed Submission Instructions Are Provided at the end of this Notebook

## Assignment Learning Objectives
- Recognize situations where aggregation is useful and identify the correct technique for performing an aggregation.

 - Perform merges on DataFrames

 - Use and modify Pandas indices
 
 - Identify 5 key data properties to consider when doing Exploratory Data Analysis and implement using data
 
 - Understand and implement methods for conditional selection in Pandas

 - Modify columns in a Pandas Dataframe (add, edit, drop)

- Understand and implement methods for extracting data using .loc, .iloc, and [].

- Manipulate and transform Series and DataFrames using common utility functions (i.e. sort_values, info,  value_counts, shape, describe, unique)

- Define what is meant by structure and granularity in terms of a set of data, and identify the structure and granularity of sample datasets.

- Review key Calculus concepts needed in CSCI 3022

 - Combine Calculus and Discrete Math Prerequisite concepts to determine a Maximum Likelihood Estimate
 



## Collaboration Policy

Data science is a collaborative activity.  However a key step in learning and retention is **creating solutions on your own.**  

Below are examples of acceptable vs unacceptable use of resources and collaboration when doing HW assignments in CSCI 3022.


The following would be some **examples of cheating** when working on HW assignments in CSCI 3022.  Any of these constitute a **violation of the course's collaboration policy and will result in an F in the course and a trip to the honor council**.   


 - Consulting web pages that may have a solution to a given homework problem or one similar is cheating.  However, consulting the class notes, and web pages that explain the material taught in class but do NOT show a solution to the homework problem in question are permissible to view.  Clearly, there's a fuzzy line here between a valid use of resources and cheating. To avoid this line, one should merely consult the course notes, the course textbook, and references that contain syntax and/or formulas.
 - Copying a segment of code or math solution of three lines or more from another student from a printout, handwritten copy, or by looking at their computer screen 
 - Allowing another student to copy a segment of your code or math solution of three lines or more
 - Taking a copy of another student's work (or a solution found online) and then editing that copy
 - Reading someone elseâ€™s solution to a problem on the HW before writing your own.
 - Asking someone to write all or part of a program or solution for you.
 - Asking someone else for the code necessary to fix the error for you, other than for simple syntactical errors
 


On the other hand, the following are some **examples of things which would NOT usually be
considered to be cheating**:
 - Working on a HW problem on your own first and then discussing with a classmate a particular part in the problem solution where you are stuck.  After clarifying any questions you should then continue to write your solution independently.
 - Asking someone (or searching online) how a particular construct in the language works.
 - Asking someone (or searching online) how to formulate a particular construct in the language.
 - Asking someone for help in finding an error in your program.  
 - Asking someone why a particular construct does not work as you expected in a given program.
   

To test whether you are truly doing your own work and retaining what you've learned you should be able to easily reproduce from scratch and explain a HW solution that was your own when asked in office hours by a Instructor or on a quiz/exam.   


If you have difficulty in formulating the general solution to a problem on your own, or
you have difficulty in translating that general solution into a program, it is advisable to see
your instructor or teaching assistant rather than another student as this situation can easily
lead to a, possibly inadvertent, cheating situation.

We are here to help!  Visit HW Hours and/or post questions on Discord!

## Grading
Grading is broken down into autograded answers and manually graded answers. 

For autograded answers, the results of your code are compared to provided and/or hidden tests.

For manually graded answers you must show and explain all steps.  Graders will evaluate how well you answered the question and/or fulfilled the requirements of the question.


### Score breakdown



Question | Points | Grading Type
--- | --- | ---
Question 1 | 8 | autograded (via video assignment on Canvas)
Question 2a, c-f | 22 | autograded
Question 2b | 5 | manual
Question 3a | 2 | manual
Question 3b | 4 | manual
Question 4a | 2 | autograded
Question 4b | 2 | manual
Question 4c | 1 | autograded
Question 4d| 4 | manual
|Total | **50**

## Recommended Readings for this HW:

  - [Prerequisite Review Resources posted on the  Modules in Canvas](https://canvas.colorado.edu/courses/117881/pages/prerequisite-review-calculus-and-discrete-structures?module_item_id=6055980) 
 - [Learning Data Science Chapter 6 - All (Subsetting, Aggregating, Joining, Transforming)](https://learningds.org/ch/06/pandas_intro.html)
 - [Learning Data Science Section 8.6 (Table Shape and Granularity)](https://learningds.org/ch/08/files_granularity.html#table-shape-and-granularity)

<a id='top'></a>
---
**Shortcuts:**   [Problem 2](#p2) | [Problem 3](#p3) | [Problem 4](#p4)
---

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

### Importing Libraries and Magic Commands

In CSCI 3022, we will be using common Python libraries to help us process data. There are also a set of standard aliases that are used to shorten the library names. Below are some of the libraries that you may encounter throughout this assignment, along with their respective aliases.  Run the cell below

In [ ]:
# Run this cell:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from csci3022_utils import *



<a id='p1'></a>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## <span style='color:Red'>  Question 1: Pandas Bootcamp Part 2 - Video Assignment (8 pts) ##

#### Complete this [Pandas Bootcamp Part 2 Video Assignment (click this link)](https://canvas.colorado.edu/courses/117881/assignments/2298257) available on Canvas (to receive points you must watch the entire video and answer the embedded questions).


As you watch the video, use the datasets provided below to fill in the code below along with the video so you can practice functions.  
The video used data as of 2022 for babynames and 2023 for elections.  The data loaded here has been updated to this year, so when running the functions you will get results updated for this new data.  

#### Data: 


**Elections Dataset:**

In [ ]:
# Run this cell to load the elections data
elections = pd.read_csv("data/elections.csv")

**Babynames Dataset:**

The United States Social Security office tracks the names of babies who are issued Social Security Cards.  We'll be using [data from their website](https://www.ssa.gov/oact/babynames/state/ ) to analyze babyname popularity over time.


The cell below pulls census data from the SS website for babies born in Colorado and then loads it into a usable form. The code shown here is outside of the scope of CSCI 3022, but you're encouraged to dig into it if you are interested!

Data Scope:  All names are from Social Security card applications for births that occurred in the United States after 1879. Note that many people born before 1937 never applied for a Social Security card, so their names are not included in the data. For others who did apply, thesee records may not show the place of birth, and again their names are not included in our data.
All data are from a 100% sample of records on Social Security card applications as of the end of 2023.

In [ ]:
# Just run this cell: to load the babynames data
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "data/babynamesbystate.zip"
if not os.path.exists(local_filename): # If the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

state_name = 'CO.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(state_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames

## Grouping


To demonstrate how to aggregate columns in Pandas let's start with a smaller subset of our original babynames dataframe.  Run the cell below to create this temporary dataframe:

In [ ]:
# Just run this cell to follow along with the demo in the video 
babynames_temp = (babynames.query(" ((Name == 'Brittany' | Name == 'Galilea') & Year == 2008) | ((Name == 'Emma' | Name == 'Olivia') & Year == 2015) | ((Name == 'Marie' | Name == 'Frances') & Year == 1910)")   
                .sort_values(by="Name")
                .reset_index().drop(columns="index")
                 )

babynames_temp

### `DataFrameGroupBy` Objects


The key object for grouping in Pandas is .groupby()


We can group rows that share a common feature, then aggregate data across the group.

Syntax  `dataframe.groupby(column_names).agg(aggregation_function)`

The result of `groupby` is not a `DataFrame` or a list of `DataFrame`s. It is instead a special type called a `DataFrameGroupBy`.

In [ ]:
# run this code to see that without an aggregation function, just using a groupby doesn't return useful information
grouped_by_year = babynames_temp.groupby("Year")
grouped_by_year

`GroupBy` objects are structured like dictionaries. In fact, we can actually see the dictionaries with the following code:

In [ ]:
grouped_by_year.groups

The `key`s of the dictionary are the groups (in this case, `Party`), and the `value`s are the **indices** of rows belonging to that group. We can access a particular sub-`DataFrame` using `get_group`:

In [ ]:
grouped_by_year.get_group(1910)

In [ ]:
grouped_by_year.get_group(2008)

In [ ]:
grouped_by_year.get_group(2015)

Once we've formed groups, we can aggregate each sub-dataframe (a.k.a. group) into a single row using an aggregation function. 

Use the cells below to follow along with the examples/code in the video and play around with different aggregation functions.

In [ ]:
# Write code to group on Year and Sum the Count Columns:
...

In [ ]:
babynames_temp.groupby("Year").agg("max")

In [ ]:
# Practice with .groupby("Year").first()
...

In [ ]:
# Practice grouping by both Year and Sex
...

#### Syntax Tip for Chained Method Callls

In [ ]:
# Example of grouping temp dataframe by year and Summing the values in the "Count" column:

babynames_temp.groupby("Year").agg({"Count":"sum"}).rename(columns = {"Count": "Total Babies that Year"})

Notice that the code above consists of a series of what are called **chained method calls**. This sort of code is very very common in Pandas programming and in data science in general. Such chained method calls can sometimes go many layers deep, in which case you might consider adding newlines between lines of code for clarity. For example, we could instead write the code above as:

In [ ]:
# pandas method chaining - surround code after equals sign with parantheses and then can break lines

(
babynames_temp.groupby("Year") 
                .agg({"Count":"sum"})
                .rename(columns = {"Count":"Total Babies that Year"})
    
)

Note that we have surrounded the entire call by a big set of parentheses so that Python doesn't complain about the indentation. An alternative is to use the \ symbol to indicate to Python that your code continues on to the next line!

In [ ]:
# pandas method chaining (alternative) end lines with \


babynames_temp.groupby("Year")  \
                .agg({"Count":"sum"}) \
                .rename(columns = {"Count":"Total Babies that Year"})

### Case Study: Name "Popularity"

The video walks you step by step through this case study.  Follow along with the video and fill in the code so you can answer the questions embedded in the video.

In this exercise, let's find the name with sex "F" that has dropped most in popularity since its peak usage. We'll start by filtering `babynames` to only include names corresponding to sex "F".

In [ ]:
# Filter babynames to only include names corresponding to sex "F"
f_babynames = ...
f_babynames

In [ ]:
# We sort the data by year (in case the data is not already sorted this way)
f_babynames = ...
f_babynames

To build our intuition on how to answer our research question, let's visualize the prevalence of the name "Jennifer" over time.

In [ ]:
# We'll talk about how to generate plots in a later lecture
fig = px.line(f_babynames[f_babynames["Name"] == "Jennifer"],
              x = "Year", y = "Count",
              title=f"Popularity of the name Jennifer in Colorado")
fig.update_layout(font_size = 18, 
                  autosize=False, 
                  width=1000, 
                  height=400)

We'll need a mathematical definition for the change in popularity of a name.

Let's define the metric "ratio to peak" (RTP). We'll calculate this as the count of the name in the most recent year for which we have data divided by the largest count of this name in *any* year. 

A demo calculation for Jennifer:

In [ ]:
# Grab number of Jennifers in the year with the highest Jennifer count
max_jenn = ...
max_jenn

In [ ]:
# Remember that we sorted f_babynames by year. 
# This means that grabbing the final entry gives us the most recent count of Jennifers:
# 
curr_jenn = ...
curr_jenn

In [ ]:
# Compute the RTP
curr_jenn / max_jenn

We can also write a function that produces the `ratio_to_peak`for a given `Series`. This will allow us to use `.groupby` to speed up our computation for all names in the dataset.

In [ ]:
def ratio_to_peak(series):
    """
    Compute the RTP for a Series containing the counts per year for a single name
    """
    return ...

In [ ]:
# Construct a Series containing our Jennifer count data
jenn_counts_ser = ...

# Then, find the RTP
ratio_to_peak(jenn_counts_ser)

Now, let's use `.groupby` to compute the RTPs for *all* names in the dataset.

You will see a TypeError message when running the cell below. As discussed in the video, `pandas` can't apply an aggregation function to non-numeric data (it doesn't make sense to divide "CO" by a number).

In [ ]:
#If you run this you'll get an error
#rtp_table = f_babynames.groupby("Name").agg(ratio_to_peak)
#rtp_table

To avoid the warning message above, try extracting only the numeric columns (that is 'Year' and 'Count') before applying `.agg`:

In [ ]:
# after groupby and before .agg just select numeric coluns
rtp_table = ...
rtp_table

In [ ]:
# Recompute the RTPs, but only performing the calculation on the "Count" column
rtp_table = ...
rtp_table

In [ ]:
# Rename "Count" to "Count RTP" for clarity
rtp_table = ...
rtp_table

In [ ]:
# What name (with Sex = "F") has fallen the most in popularity?
...

We can visualize the decrease in the popularity of the name "Linda:"

In [ ]:
def plot_name(*names):
    fig = px.line(babynames[babynames["Name"].isin(names)], 
                  x = "Year", y = "Count", color="Name",
                  title=f"Popularity for: {names}")
    fig.update_layout(font_size = 18, 
                  autosize=False, 
                  width=1000, 
                  height=400)
    return fig

plot_name("Linda")

In [ ]:
# Is your name in this database? If so, run the function above to plot the popularity of your name in Colorado over time 
# If not, choose a name of one of your friends and plot the popularity
...

In [ ]:
# Find the 10 names with Sex = F that have decreased the most in popularity
top10 = ...
top10

In [ ]:
plot_name(*top10)

For fun, try plotting your name or your friends' names.

In [ ]:
# What name assigned to Sex=M has dropped the most in popularity?

...

In [ ]:
# Write code to compute the total number of babies with each name:

...

In [ ]:
# Write code to compute the total number of babies born each year:

puzzle2 = ...

In [ ]:
# run this cell to plot the number of babies born in Colorado each year according to this data
px.line(puzzle2, y="Count")

## Joining Tables

In [ ]:
# create a dataframe of names of babies born in Colorado in 2023:

babynames_2023 = ...
babynames_2023

In [ ]:
# Add a column to the elections DataFrame called "First Name" with the First Name of each candidate
elections["First Name"] = ...
elections

In [ ]:
# merge the elections DataFrame with the babynames_2023 DataFrame:

merged = ...
merged

In [ ]:
# Sort the merged data, with Count in Descending order
...

In [ ]:
# Find the top 10 most popular presidential names for babies in 2023:

...

[Back to top](#top)

<a id='p2'></a>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## <span style='color:Red'>  Question 2: Evidence for Money Ball

In the book [MoneyBall](https://en.wikipedia.org/wiki/Moneyball), Michael Lewis documented the introduction of statistics and data science in selecting players for the Oakland A's. 
    
The central premise of Moneyball is that the collective wisdom of baseball insiders (including players, managers, coaches, scouts, and the front office) over the past century is outdated, subjective, and often flawed. That the statistics traditionally used to gauge players, such as stolen bases, runs batted in, and batting average, are relics of a 19th-century view of the game.  Sabermetrics and statistical analysis had demonstrated, for example, that on-base percentage and slugging percentage are better measures of batting. The Oakland A's began seeking players who were "undervalued in the market"â€”that is, who were receiving lower salaries relative to their ability to contribute to winning, as measured by these advanced statistics.
   
In this problem, we're going to investigate Oakland A's wins and payroll amounts compared to other successful teams during the time period that Moneyball investigates.  

Do to this we'll use two datasets from the [Sean Lahman's Baseball Database](http://seanlahman.com/) which contains the "complete batting and pitching statistics from 1871 to 2022, plus fielding statistics, standings, team stats, managerial records, post-season data, and more."   

For more details about this data, see documentation.txt in the `data` folder.

## Exploratory Data Analysis

Throughout this question you will be asked to explore the dataset.  
You will need familiarity with all the methods and attributes introduced in  Chapter 6 of the assigned reading:  [Learning Data Science Chapter 6 - All (Subsetting, Aggregating, Joining, Transforming)](https://learningds.org/ch/06/pandas_intro.html).  

There is frequently more than one way to answer question in Pandas, so we encourage you to dive in and play around with different approaches.  Unless otherwise indicated, you are welcome to use whatever methods/attributes/approach that you choose.

There are two .csv files in the `data` folder of this assignment:  `teams.csv` and `salaries.csv`

Import the `Teams.csv` data into a DataFrame called `teams_df` and take a look at the data.

In [ ]:
# Run this cell to load the Teams data:
teams_df=pd.read_csv("data/Teams.csv") 
teams_df.head()

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2a (1 pt) ###

Import the `Salaries.csv` data into a DataFrame called `salaries_df` and take a look at the data.

In [ ]:
# Load the Salaries data:

salaries_df= ...

salaries_df.head()

In [ ]:
grader.check("q2a")

<!-- BEGIN QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2b (5 pts) ###
    
Examine the structure, granularity and faithfulness of the datasets.   (Hint: The common utility functions we covered in class will be useful here).  

Then answer the following questions:

 - i).  What does the column `G` represent in the teams dataset?  (For a description of the columns, see the documentation in the `data` folder).  

 - ii).  What is the granularity of the `teams.csv` file?  

 - iii).  What is the granularity of the `salary.csv` file?
 
 - iv).  How many rows and columns are in the teams dataset?    Assign your answer to the variables `team_rows` and `team_col` below.  

 - v).  How many rows and columns are in the salary dataset? Assign your answer to the variables `salary_rows` and `salary_col` below.

 - vi).  How many entries in the `teams.csv` file are missing Attendance Data?  Assign your answer to the variable `missing_attendance` below.

### Answer Cell for Questions 2b(i)(ii)(iii) 
In this cell, answer questions 2b(i) - (iii) using Markdown (not code).  

**2b(i) Answer:**

**2b(ii) Answer**:

**2b(iii) Answer**:

In the code cells below justify your answers to part (ii) and (iii) and then answer parts iv through vi

In [ ]:
...

# Show work in this cell justifying your answer to part 4a(ii) (hint: either use .value_counts() or .groupby)

In [ ]:
...

# Show work in this cell justifying your answer to part 4a(iii) (hint: either use .value_counts() or .groupby)

In [ ]:
# Solution Cell for 4a(iv) and 4a(v)
#Use code to find the number of rows and columns in the teams data.  Do not enter any values by hand.

team_rows= ...

team_col = ...

salary_rows = ...

salary_col = ...

In [ ]:
# Solution Cell for 4a(vi)
# Use code to find the number of rows in the Teams data that are missing attendance data

missing_attendance = ...

In [ ]:
grader.check("q2b")

<!-- END QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2c (4 pts) EDA:  Examining Scope and Temporality of the Data ###
    

 Use code to explore the datasets and answer the questions below:
 
 i).  How many unique teams are represented in the `teams_df` DataFrame?  Write code to calculate this and assign the answer to the variable `unique_teams`   
 
 ii). How many unique teams are represented in the `salaries_df` DataFrame? Write code to calculate this and assign the answer to `unique_teams_salary`
 
 iii).  What years does the `teams_df` data span?  
 Write code to calculate this and assign the answers to `teams_startyear` and `teams_endyear`

 
 iv).  What years does the `salaries_df` data span?   
 Write code to calculate this and assign the answers to `salaries_startyear` and `salaries_endyear`

In [ ]:
# Answer to 2ci:

unique_teams = ...

#print out result
unique_teams

In [ ]:
# Answer to 2cii:

unique_teams_salary= ...

#print out result
unique_teams_salary

In [ ]:
# Answer to 2ciii:

teams_startyear = ...

teams_endyear = ...

#print out result
[teams_startyear, teams_endyear]

In [ ]:
# Answer to 2civ:


salaries_startyear = ...

salaries_endyear = ...

#print out result
[salaries_startyear, salaries_endyear]

In [ ]:
grader.check("q2c")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2d (3 pts) ###
    
If you haven't already, **read the assigned textbook readings** [on Filtering](https://learningds.org/ch/06/pandas_subsetting.html#filtering-rows) and  [on Extracting Data](https://learningds.org/ch/06/pandas_subsetting.html).


 i ). For the data science approach used by the Oakland A's team in 2002, they used historical baseball data starting in 1998.  We're going to analyze some of this Oakland A's data, so we'll start by filtering out a smaller dataframe that just focuses on the years and columns of interest.     
    
Filter the `teams_df` to create a new dataframe `teams_df_moneyball` with **index** `teamID` and columns `yearID`, `name`, `G`, `W`.  The new dataframe should only include records where the year is greater than or equal to 1998. (Hint, the dataframe method`set_index` will be useful https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)
 
ii).  Add a new column called `winFrac` to the dataframe `teams_df_moneyball` that calculates the number of Wins divided by the number of Games for a given team in a given year, **rounded to the nearest hundredth**.  (Don't use any `for` loops when populating the new column).  The python built-in `round` function will be helpful (https://www.w3schools.com/python/ref_func_round.asp).


iii).  Use an appropriate extraction operator to determine the Oakland A's (teamID ="OAK") fraction of wins in the year 1998.  Write code (do not just manually enter the value that you read off of a table)  that selects this value from the `teams_df_moneyball` table) and assigns it to the variable `winFrac_OAK_98`.

In [ ]:
# Create teams_df_moneyball dataframe

teams_df_moneyball = ...

In [ ]:
# Add column called winFrac to the dataframe

teams_df_moneyball["winFrac"] = ...

# Print out resulting DataFrame
teams_df_moneyball.head()

In [ ]:
# Answer to part 2diii:

winFrac_OAK_98= ...

winFrac_OAK_98

In [ ]:
grader.check("q2d")

### EDA:  Visualizing Data 

Let's examine how winFrac has varied over time for the Oakland A's.

In [ ]:
#The code below uses the module plotlyexpress, which we imported at the top of the notebook using alias px
#Read the code below to see how to use this function, then run this cell

px.line(teams_df_moneyball.loc["OAK"],x="yearID", y="winFrac", markers=True)



Let's compare Oakland's winFrac to 2 other teams:  Boston Red Sox and the New York Yankees.  We can visualize this using size-by-size line plots:

In [ ]:
#Read the entries below to see how to create this plot:
#Then run this cell

px.line(teams_df_moneyball.loc[["OAK","NYA", "BOS"]],x="yearID", y="winFrac",facet_col = 'name', markers=True)



### Payrolls Per Team


However, the interesting part of this story takes into account the salary differences between these teams, particularly during the time period from 1999-2004 (Oakland first began implementing a data science approach to choose their players in 2002).   


Let's calculate the yearly team payrolls for OAK, NYA and BOS from 1999 to 2004.   A team payroll is the sum of all the players' salaries who are on that team in a given year.  
To do this, we will need to aggregate data in the `salary_df`.   If you haven't already, [read the section from the assigned readings on Grouping](https://learningds.org/ch/06/pandas_aggregating.html), including the section on aggregating by multiple columns.

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2e (4 pts) ###
    
To simplify the size of the DataFrame we're working with, start by selecting from the `salary_df` the columns `teamID`, `yearID` and `salary` and the subset of rows the with players with `teamID` equal to either `OAK`, `NYA` or `BOS`, for the years starting in 1999 and ending in 2004.    
Save this data in a new DataFrame `salaries_subset`.   (Keep the same index from the `salary_df`).

In [ ]:
# Create salaries_subset DataFrame:

salaries_subset = ...

In [ ]:
grader.check("q2e")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2f (4 pts) ###


Next, group the `salary_subset` DataFrame on the columns `teamID` and `yearID` (in that order) and sum the players' salaries.   Save this aggregated data to a new DataFrame called `payroll_df`.

Then rename the aggregated column from salary to `payroll` (hint: use `.rename(columns = {"oldname":"newname"})`

After grouping, notice there will be two levels to the index (`teamID`, `yearID`),  because we grouped by two columns.

In [ ]:
# Group the salaries_subset DataFrame and save the results 
# to payroll_df:

payroll_df = ...



# Rename the aggregated column:

payroll_df = ...

payroll_df.head()

In [ ]:
grader.check("q2f")

# Merging Data

Let's merge the win data from `teams_df_moneyball` with the `payroll_df` dataframe so we can compare wins and payroll.

We'll do this in several steps:

The primary key in both DataFrames is `teamID` AND `yearID`.  The DataFrame `payroll_df` already has these both defined as indices (i.e. these are called a  a multi-index).  
Let's also define these as a multi-index in the `teams_df_moneyball` DataFrame, to make the merging process easier.
To start, we'll reset the index in the `teams_df_moneyball`:"

In [ ]:
teams_df_moneyball = teams_df_moneyball.reset_index()
teams_df_moneyball.head()

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2g (2 pts) ###
    
Change the index of the `teams_df_moneyball` DataFrame to be a multi-index using the columns `teamID` and `yearID` (in that order):

In [ ]:
teams_df_moneyball = ...
teams_df_moneyball.head()

In [ ]:
grader.check("q2g")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2h (3 pts) ###

Merge the `payroll_df` and `teams_df_moneyball` DataFrames using an inner join (that is, only keeping rows that appear in both DataFrames). 

Tip: Since they both have the same multi-indices, you will join on their Indices (not on columns).   See the [documentation for merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) for the default inputs.

In [ ]:
payroll_df_merged = ...

payroll_df_merged.head()

In [ ]:
grader.check("q2h")

Let's examine the fraction of wins and payroll for the Oakland A's in 2002 and compare it to the the New York Yankees that same year:

To access values using a multiindex we need to use parantheses in the first entry, as shown here:

In [ ]:
# Read this code to make sure you understand how to access data with a multi-index, then run this cell:

oak_payroll_02 = payroll_df_merged.loc[("OAK",2002),"payroll"]
oak_winfrac_02 = payroll_df_merged.loc[("OAK",2002),"winFrac"]

print("Oakland's payroll in 2002 was ", oak_payroll_02, " and its WinFrac was", oak_winfrac_02)

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2i (2 pts) ###

Calculate these same statistics for the New York Yankees ("NYA") in 2002:

In [ ]:
nya_payroll_02 = ...
nya_winfrac_02 = ...

print("New York Yankee's payroll in 2002 was ", nya_payroll_02, " and its WinFrac was", nya_winfrac_02)

In [ ]:
grader.check("q2i")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 2j (3 pts) ###

**Payroll efficiency** in baseball is defined as the "payroll dollars spent per win". The lower the number, the better efficiency you have.
Add a column to `payroll_df_merged` called `efficiency` that calculates the efficiency for each team each year.   
Hint: Do this without using a "for" loop.

In [ ]:
payroll_df_merged = ...

In [ ]:
grader.check("q2j")

### Visualizing Efficiency

We can compare Payroll efficiency between these 3 teams using the side-by-side line plots below:

In [ ]:
# Just run this cell:

# Reset index before plotting, as plot inputs easier to handle without single index
payroll_df_merged = payroll_df_merged.reset_index()

# Code to plot side-by-side line plots of efficiency:
px.line(payroll_df_merged,x="yearID", y="efficiency",facet_col = 'name', markers=True, labels=dict(efficiency="efficiency ($/win)", yearID="year"))

**From 1998 to 2008, the Oakland Athletics were the most payroll efficient team in Major League Baseball (MLB), recording the 5th highest win percentage despite having the 7th lowest payroll to work with. Their remarkable success has been widely attributed to the innovative data science strategies employed by general manager Billy Beane designed to identify undervalued statistics and players.**

[Back to top](#top)

<a id='p3'></a>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## <span style='color:Red'>  Question 3: Prerequisites: Calculus Review ##

You will need a solid understanding of the following concepts from Calculus 1 and 2 to succeed in this course. See the  [Prerequisite Review Resources posted on the  Modules in Canvas](https://canvas.colorado.edu/courses/117881/pages/prerequisite-review-calculus-and-discrete-structures?module_item_id=6055980)  posted on Canvas if you need to review any of these key concepts.


### Preliminary: Sums ###

Here's a recap of some basic algebra written in sigma notation. The facts are all just applications of the ordinary associative and distributive properties of addition and multiplication, written compactly and without the possibly ambiguous "...". But if you are ever unsure of whether you're working correctly with a sum, you can always try writing $\sum_{i=1}^n a_i$ as $a_1 + a_2 + \cdots + a_n$ and see if that helps.

- You can use any reasonable notation for the index over which you are summing, just as in Python you can use any reasonable name in `for name in list`. Thus $\sum_{i=1}^n a_i = \sum_{k=1}^n a_k$.
- $\sum_{i=1}^n (a_i + b_i) = \sum_{i=1}^n a_i + \sum_{i=1}^n b_i$
- $\sum_{i=1}^n d = nd$
- $\sum_{i=1}^n (ca_i + d) = c\sum_{i=1}^n a_i + nd$

<!-- BEGIN QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 3a (2 pts) ###

We commonly use sigma notation to compactly write the definition of the arithmetic mean (commonly known as the average):

$$\bar{x} = \frac{1}{n}\left(x_1+x_2+ ... + x_n \right) = \frac{1}{n}\sum_{i=1}^n x_i$$



The $i$th *deviation from average* is the difference $x_i - \bar{x}$. Prove that the sum of all these deviations is 0 that is, prove that $\sum_{i=1}^n (x_i - \bar{x}) = 0$ (write your full solution in the box directly below showing all steps and using LaTeX).

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 3b (4 pts) ###

Let $x_1, x_2, \ldots, x_n$ be a list of numbers. You can think of each index $i$ as the label of a household, and the entry $x_i$ as the annual income of Household $i$. 

Consider the function  $$f(c) = \frac{1}{n} \sum_{i=1}^n (x_i-c)^2$$


In this scenario, suppose that our data points $x_1, x_2, \ldots, x_n$ are fixed and that $c$ is the only variable.

Using calculus, determine the value of $c$ that minimizes $f(c)$.  You must use calculus to justify that this is indeed a minimum, and not a maximum.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

[Back to top](#top)

<a id='p4'></a>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## <span style='color:Red'>  Question 4:  Applying Those Prereqs:  A Maximum Likelihood Estimate ##

In this problem we're going to apply your calculus and discrete math prerequisite knowledge to introduce a data science concept called a maximum likelihood estimate.

Data scientists use coin tossing as a visual image for sampling at random with replacement from a binary population.

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 4a (2 pts) ###

A coin that lands heads with chance 0.7 is tossed six times. What is the chance of the sequence HHHTHT? Assign your answer to the variable `p_HHHTHT`.

In [ ]:
p_HHHTHT = ...
p_HHHTHT

In [ ]:
grader.check("q4a")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 4b (2 pts) ###
    
I have a coin that lands heads with an unknown probability $p$. 

Suppose I toss it 10 times and get the sequence TTTHTHHTTH.

If you toss this coin 10 times, the chance that you get the sequence above is a function of $p$. That function is called the *likelihood* of the sequence TTTHTHHTTH, so we will call it $L(p)$.

<!-- BEGIN QUESTION -->

What is $L(p)$ (i.e. the likelihood) for the sequence TTTHTHHTTH?

Enter your answer below by setting the `likelihood` variable equal to the correct function.

(For example `likelihood = sin(p)+2p`, althought that is definitely an incorrect answer!)

Then run the code below to plot the likelihood function.

In [ ]:
#At the top of the notebook we already imported a useful plotting module, matplotlib with alias plt

p = np.linspace(0, 1, 100) 
#This creates an array of 100 p-values equally spaced between 0 and 1

likelihood = ...
#Define the likelihood function above

plt.plot(p, likelihood, lw=2, color='darkblue') 
#This plots the likelihood function  

plt.xlabel('$p$')
#This labels the x axis

plt.ylabel('$L(p)$')
#This labels the y-axis

plt.title('Likelihood of TTTHTHHTTH');
#This titles the plot

<!-- END QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 4c (1 pt) ###

The value $\hat{p}$ at which the likelihood function attains its maximum is called the *maximum likelihood estimate* (MLE) of $p$. Among all values of $p$, it is the one that makes the observed data most likely.

Using only your plot above, what is the value of $\hat{p}$?

In [ ]:
p_hat = ...

In [ ]:
grader.check("q4c")

<!-- BEGIN QUESTION -->

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />


## <span style='color:Red'>   Question 4d (4 pts) ###

Notice the value you found graphically for $\hat{p}$ above also intuitively makes sense because it is also the observed proportion of heads in the given sequence TTTHTHHTTH.


Let's prove what you observed graphically above.  That is, let's use calculus to find $\hat{p}$.  

But **wait before you start trying to find the value $p$ where $L'(p)=0$ (trust us, the algebra is not pretty...)**

USEFUL TIP: 
The value $\hat{p}$ at which the function $L(p)$ attains its maximum is the same as the value at which the function $\ln(L(p))$ attains its maximum. 

This tip is hugely important in data science because many probabilities are products and the natural log function `ln` function turns products into sums.  It's **much simpler to take derivatives of a sum** than a product.


Thus, to find the value $p$ where $L'(p)=0$: 
 - Take the natural log `ln` of L(p)
 - Use properties of logs to rewrite products in `ln(L(p))` as sums
 - Take the derivative of this rewritten version of `ln(L(p))`
 - Solve $\frac{d}{dp}\left[\ln(L(p))\right] = 0$ for p
 - You should get the same answer that you found graphically above.

You don't have to check that the value you've found produces a max and not a min â€“ we'll spare you that step.

Show all steps in the cell below using Markdown and LaTeX

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<br/><br/>
<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Congratulations! You have finished Homework 2!

If you discussed this assignment with any other students in the class (in a manner that is acceptable as described by the Collaboration policy above) please **include their names** here:

**Collaborators**: *list collaborators here*

If while completing this assignment you reference any websites other than those linked in this assignment or provided on Canvas please list those references here:

**External references**:  *list any websites you referenced*

### Submission Instructions

Before proceeding any further, **save this notebook.**

In [ ]:

# Run this cell before you run the 'grader.export()' cell below.  
# It will search for common LaTeX errors that will cause the LaTeX compiler to fail.  

import simple_latex_checker as slc

nb = slc.Nb_checker()
nb.run_check("hw02.ipynb")



After running the `grader.export()` cell provided below, **2 files will be created**: a zip file and pdf file.  You can download them using the links provided below OR by finding them in the same folder where this juptyer notebook resides in your JuptyerHub.

To receive credit on this assignment, **you must submit BOTH of these files
to their respective Gradescope portals:** 


* **Homework 2 Autograded**: Submit the zip file that is output by the `grader.export()` cell below to the HW2 Autograded assignment in Gradescope.

* **Homework 2 Manually Graded**: Submit your hw02.PDF to the HW2 Manually Graded assignment in Gradescope.  **It is your responsibility to fully review your PDF file before submitting and make sure that all your lines of code are visible and any LaTeX has correctly compiled and is fully viewable.**  **YOU MUST SELECT THE PAGES CORRESPONDING TO EACH QUESTION WHEN YOU UPLOAD TO GRADESCOPE.** If not, you will lose points.    

**TROUBLESHOOTING TIPS**  If you are having any issues compiling your assignment, please [read through these troubleshooting tips first](https://docs.google.com/document/d/1ndr3Wj1PSF5qzlLMaBJznwh6QGeEXjd5TAJ6nf9EJvo/edit?usp=sharing), then post any questions on Piazza.  

**You are responsible for ensuring your submission follows our requirements. We will not be granting regrade requests nor extensions to submissions that don't follow instructions.** If you encounter any difficulties with submission, please don't hesitate to reach out to staff prior to the deadline.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Be sure to SAVE this notebook BEFORE running the next cell.  AFTER running the cell below, click on <a href='hw02.pdf' download>this link to download the PDF </a> to upload to Gradescope.  There will be a separate link that appears after running the cell below with a link to download the zip file to upload to Gradescope.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)